<div class="row">
  <div class="col-xs-12 space-top-1x">
    <h6>Global Settings</h6>
  </div>
</div>
<div class="global-setting container">
  <div class="row space-top-1x">
    <div class="space-top-2x col-xs-12"></div></div>
    <div class="row">
      <div class="col-xs-2">
        <p>Repeat On</p>
      </div>
      <div class="col-xs-10">
        <avatar [avatarValues]="avatarValues"></avatar>
      </div>
    </div>
    <div class="row">
      <div class="space-top-2x col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <p>During</p>
      </div>
      <div class="col-xs-3">
        <time-selector></time-selector>
      </div>
      <div class="col-xs-1">
        <p class="text-center align-middle">To</p>
      </div>
      <div class="col-xs-3">
        <time-selector></time-selector>
      </div>
      <div class="col-xs-3">
        <button type="submit" class="btn btn-light btn-lg btn-outline-dark">Apply</button>
      </div>
    </div>
    <div class="row">
      <div class="space-bottom-2x col-xs-12"></div>
    </div>
</div>